.main {
    width: 100%;
    background-color: cadetblue;
    height: 40px;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    align-items: center;
    padding: 0 20px;

    .menu-bar {
        width: calc(100% - 100px);
        display: flex;
        flex-direction: row;
        padding: 10px;

        .btn {
            margin: 2px 10px;
        }
    }

    .btn {
        cursor: pointer;
        font-size: large;
        font-weight: 500;
    }

    .carte {
        width: 100px;

    }
}