.main{
    height: 100%;
    width: 100%;
    .header{
        height: 30px;
        width: 100%;
    }
    .body{
        height: calc(100% - 30px);
        width: 100%;
        .item{
            height: 250px;
            width: 450px;
            margin: 10px;
            padding: 5px;
            .elment{
                height: calc(100% - 10px);
                width: calc(100% - 10px);
                border-radius: 5px;
                border: solid 1px;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: -webkit-center;
                .title{
                    
                }
                .image{
                    // height: 50px;
                    // width: 50px;
                    height: 100px;
                    width: 100px;
                    display: flex;
                    align-self: center;
                    height: 40%;
                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
                .description{
                    
                }
            }
        }
    }
}